<section class="m-easy-steps">
  <div class="c-container">
    <div class="c-step-box">
      <div class="wrap-big">
        <span>1</span>
      </div>
      <div class="wrap-text">
        <h3>Complete the online sign up form</h3>
        <p>complete the form with your details</p>
      </div>
    </div>
    <div class="c-step-box">
      <div class="wrap-big">
        <span>2</span>
      </div>
      <div class="wrap-text">
        <h3>Choose the right membership</h3>
        <p>100% online and hassle-free</p>
      </div>
    </div>
    <div class="c-step-box">
      <div class="wrap-big">
        <span>3</span>
      </div>
      <div class="wrap-text">
        <h3>Receive actionable reports online</h3>
        <p>obtain peer-verified issues to inbox</p>
      </div>
    </div>
  </div>
</section>
