<section class="m-footer">
  <div class="c-container">
    <div class="columns">
      <div>
        <h6>our services</h6>
        <ul>
          <li><a href="">automated survilliance</a></li>
          <li><a href="">red team express</a></li>
          <li><a href="">service features</a></li>
        </ul>
      </div>
      <div>
        <h6>for hackers</h6>
        <ul>
          <li><a href="">work remote & full time </a></li>
          <li><a href="">submit your vulnerability</a></li>
          <li><a href="">our rewards in bitcoin</a></li>
        </ul>
      </div>
      <div>
        <h6>codefen</h6>
        <ul>
          <li><a href="">our sales team</a></li>
          <li><a href="">business partners</a></li>
          <li><a href="">contact us</a></li>
        </ul>
      </div>
      <div>
        <h6>resources</h6>
        <ul>
          <li><a href="">enciclopedia</a></li>
          <li><a href="">educación</a></li>
          <li><a href="">prescanner</a></li>
        </ul>
      </div>
      <div>
        <h6>social media</h6>
        <ul>
          <li><a href="">linkedin</a></li>
          <li><a href="">facebook</a></li>
          <li><a href="">youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
