<section id="introArea" class="m-intro">
  <div class="c-container">
    <div class="wrap-text">
      <h1>GO BEYOND PENTEST</h1>
      <h2>ONLINE & HASSLE FREE, VULNERABILITY DETECTION & MANAGEMENT.</h2>
      <ul class="c-list">
        <li>Network & information survilliance</li>
        <li>Actionable, & content-rich reports</li>
        <li>Easy to print security reports</li>
        <li>Professional assistance</li>
        <li>Recheck until solved</li>
        <li>Peer review issues</li>
        <li>Hacker based security</li>
      </ul>
      <a class="c-btn" href="purchase_user.html">Analyze my business</a>
    </div>
    <div class="wrap-image">
      <img src="media/header_media_derecha.png">
    </div>
  </div>
</section>
