<header class="c-nav">
  <div class="c-container">
    <div class="links">
      <a href="index.html" class="f-active">codefen</a>
      <a href="#nav-service-overview">services</a>
      <a href="#nav-plans">prices and plans</a>
      <a href="#nav-sass">our sass</a>
    </div>
    <div class="links">
      <a class="f-start" href="purchase_user.html">start our free trial</a>
      <a href="#">customer access &nbsp; <span class="c-glyph glyph-45"></span></a>
    </div>
  </div>
</header>
