<nav class="navegacion_superior">
  <ul>
    <li><a href="/">codefen</a></li>
    <li><a href="purchase_user.html">new customer</a></li>
    <li><a href="">member access</a></li>
    <br class="clear">
  </ul>
</nav>

<style media="screen">
  .navegacion_superior {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    width: 100%;
  }

  .navegacion_superior ul {
    margin: 0;
    padding: 0;
  }

  .navegacion_superior ul li {
    float: left;
    list-style: none;
  }

  .navegacion_superior ul li a {
    color: #fff;
    text-decoration: none;
    padding: 12px;
    display: block;
  }

  .clear {
    clear: both;
  }
</style>
