<div class="purchase_derecha">
  <div class="company_header">
    <img src="media/avs/docler_icon.png" alt="" class="company_av">
    <div class="company_info">
      <h1>Docler Holding</h1>
      <a href="https://www.doclerholding.com" target="_blank">www.doclerholding.com</a>
    </div>
    <br class="clear">
  </div>
  <div class="resource_box">
    <div class="resource">
      <div class="resource_row_column"><img src="media/server_icon.png" alt="server icon"></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="media/areas/lu.png" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
    <div class="resource">
      <div class="resource_row_column"><img src="media/server_icon.png" alt="server icon"></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="media/areas/lu.png" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
    <div class="resource">
      <div class="resource_row_column"><img src="media/server_icon.png" alt="server icon"></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="media/areas/lu.png" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
    <div class="resource">
      <div class="resource_row_column"><img src="media/server_icon.png" alt="server icon"></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="media/areas/lu.png" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
  </div>
</div>

<style media="screen">
  .purchase_derecha {
    font-family: Poppins;
    width: 50%;
    float: left;
    background: #fafafa;
  }
  .company_header {
    padding: 13px;
    border-bottom: 1px solid #ccc;
  }
  .company_av {
    float: left;
    display: block;
  }
  .company_info {
    display: block;
    float: left;
    padding: 14px;
  }
  .company_info h1 {
    font-family: poppins;
    font-size: 14px;
    font-weight: 600;
  }
  .company_info a{
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  .resource_box {}
  .resource {
    display: flex;
        border-bottom: 1px solid #ccc;
        padding: 20px 0;
  }
  .resource_row_column {
        flex: auto;
        vertical-align: middle;
  }
  .resource_row_column img {
    vertical-align: middle;
    padding: 0 12px;
  }

  .resource_row_column a {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    display: block;
  }
  .resource_row_column span {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
  }
  .resource_row_column a span img {}

  .clear {
    clear: both;
  }



</style>
