<div class="purchase_derecha">
  <div class="purchase_card">
    <img src="media/circular_aim.png" alt="">
    <div class="purchase_card_info">
      <h2>request a pentest on demand</h2>
      <p>We believe security should be a run as process, we provide permanent survelliance instead of once in a year checks. </p>
    </div>
    <br class="clear">
  </div>
  <div class="purchase_card">
    <img src="media/circular_bug.png" alt="">
    <div class="purchase_card_info">
      <h2>create reward programs</h2>
      <p>Common security companies run scans once a year, instead we scan on daily basis, as well, we don’t waste a minute to communicate a flaw.</p>
    </div>
    <br class="clear">
  </div>
  <div class="purchase_card">
    <img src="media/circular_pdf.png" alt="">
    <div class="purchase_card_info">
      <h2>express reporting</h2>
      <p>Common security companies run scans once a year, instead we scan on daily basis, as well, we don’t waste a minute to communicate a flaw.</p>
    </div>
    <br class="clear">
  </div>
</div>

<style media="screen">
  .purchase_derecha {
    width: 50%;
    float: left;
    background: #fafafa;
  }

  .purchase_card {
    max-width: 470px;
    margin: 20px;
    padding: 18px;
    display: flex;
  }

  .purchase_card img {
    max-width: 90px;
    max-height: 90px;
    flex: 1;
    margin: 0px 10px;
  }

  .purchase_card_info {
    float: left;
    flex: 1;
    padding: 0 20px;
  }

  .purchase_card_info h2 {
    color: #878787;
    margin: 20px 0px;
    line-height: 6px;
  }

  .purchase_card_info p {
    font-size: 15px;
  }
</style>
