<div class="purchase_derecha">
  <div class="company_header">
    <img src="" alt="" class="company_av">
    <div class="company_info">
      <h1></h1>
      <a href=""></a>
    </div>
    <br class="clear">
  </div>
  <div class="resource_box">
    <div class="resource">
      <div class="resource_row_column"><img src="" alt=""></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
    <div class="resource">
      <div class="resource_row_column"><img src="" alt=""></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
    <div class="resource">
      <div class="resource_row_column"><img src="" alt=""></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
    <div class="resource">
      <div class="resource_row_column"><img src="" alt=""></div>
      <div class="resource_row_column"><a href="">109.76.16.1</a><span>web server online</span></div>
      <div class="resource_row_column"><a href="">docler-as</a><span>server location: <img src="" alt=""></span></div>
      <div class="resource_row_column"><a href="">86 miliseconds</a><span>local web delay</span></div>
    </div>
  </div>
</div>

<style media="screen">
  .purchase_derecha {
    width: 50%;
    float: left;
    background: #fafafa;
  }
</style>
