<section class="m-plans">
  <div class="c-container">
    <div class="c-title-subtitle f-center">
      <h3>Plans for everyone</h3>
      <div class="subtitle">
        <p>Traditional it security vs our online services.</p>
      </div>
    </div>
    <div class="columns">

      <div class="plan">
        <div class="header">
          <h3>basic protection</h3>
          <h4>has your wordpress been hacked?</h4>
        </div>
        <div class="price">
          <a href="">$119<sup>99</sup></a>
          <span><b>monthly billed</b> or $5,000 yearly</span>
        </div>
        <ul>
          <li><a href="">automated vulnerabity scans</a></li>
          <li><a href="">periodict system supervision</a></li>
          <li><a href="">malware detection</a></li>
          <li><a href="">ransomware protection</a></li>
          <li class="f-highlight"><a href="">dedicated technical support</a></li>
          <li class="f-highlight"><a href="">cancelation at any time.</a></li>
        </ul>
        <a href="purchase_user.html" class="c-pulser f-red">start membership</a>
      </div>

      <div class="plan">
        <div class="header">
          <h3>basic protection</h3>
          <h4>has your wordpress been hacked?</h4>
        </div>
        <div class="price">
          <a href="">$299<sup>99</sup></a>
          <span><b>monthly billed</b> or $5,000 yearly</span>
        </div>
        <ul>
          <li><a href="">automated vulnerabity scans</a></li>
          <li><a href="">periodict system supervision</a></li>
          <li><a href="">malware detection</a></li>
          <li><a href="">ransomware protection</a></li>
          <li class="f-highlight"><a href="">dedicated technical support</a></li>
          <li class="f-highlight"><a href="">cancelation at any time.</a></li>
        </ul>
        <a href="purchase_user.html" class="c-pulser f-red">start membership</a>
      </div>

      <div class="plan">
        <div class="header">
          <h3>basic protection</h3>
          <h4>has your wordpress been hacked?</h4>
        </div>
        <div class="price">
          <a href="">$499<sup>99</sup></a>
          <span><b>monthly billed</b> or $5,000 yearly</span>
        </div>
        <ul>
          <li><a href="">automated vulnerabity scans</a></li>
          <li><a href="">periodict system supervision</a></li>
          <li><a href="">malware detection</a></li>
          <li class="f-highlight"><a href="">ransomware protection</a></li>
          <li class="f-highlight"><a href="">dedicated technical support</a></li>
          <li class="f-highlight"><a href="">cancelation at any time.</a></li>
        </ul>
        <a href="purchase_user.html" class="c-pulser f-red">start membership</a>
      </div>


      <div class="c-extra-bg"><span></span></div>
    </div>
  </div>
</section>

