<section class="m-codefen-vs">
  <div class="c-container">
    <div class="c-title-subtitle f-center">
      <h3>Traditional services vs codefen</h3>
      <div class="subtitle">
        <p>Traditional it security vs our online services.</p>
      </div>
    </div>
    <div class="columns">
      <div class="wrap-image">
        <img src="media/codefen-vs.jpg">
      </div>
      <div class="wrap-text">
        <div class="c-title-text">
          <h4>Permanent infrastructure monitoring</h4>
          <p>We believe security should be a run as process, we provide permanent survelliance instead of once in a year checks. Vulnerabilities found are notified on demand thru our plataform.</p>
        </div>
        <div class="c-title-text">
          <h4>express reporting</h4>
          <p>Common security companies run scans once a year, instead we scan on daily basis, as well, we don’t waste a minute to communicate a flaw, we address issues as soon as we can.</p>
        </div>
        <a class="c-pulser f-red" href="purchase_user.html">Analyze my business</a>
      </div>
      <div class="c-extra-bg"></div>
    </div>
  </div>
</section>
