<div class="descripcion_servicio" id="nav-service-overview">
  <div class="encuadre_modelo">
    <div class="descripcion_derecha">
      <h1>supervición permanente</h1>
      <h2>detección temprana y supervisión de vulnerabilidades</h2>
      <p>Monitoree y detecte vulnerabilidades y cambios en los recursos digitales de su organización. Supervisión de aplicaciones web en tiempo real. Análisis periodico de sus aplicaciones y detección de vulnerabilidades.</p>
      <img src="media/services_web_surveillance.png" alt="">
    </div>
    <div class="descripcion_izquierda">
      <div class="service_card">
        <img src="media/services_web.png" alt="">
        <div class="service_card_info">
          <h2>aplicaciones y servicios web</h2>
          <p>La revisión de aplicaciones y servicios web comprende la auditoría de todo servicio que utilice protocolos web, incluyendo aplicaciones web, apis y websockets. learn more...</p>
        </div>
        <br class="clear">
      </div>
      <div class="service_card">
        <img src="media/services_mobile.png" alt="">
        <div class="service_card_info">
          <h2>aplicaciones mobile</h2>
          <p>El análisis de aplicaciones mobile se propone la deteccion de vulnerabilidades que puedan exponer al usuario o la compañía en la comunicación aplicación servidor. learn more...</p>
        </div>
        <br class="clear">
      </div>
      <div class="service_card">
        <img src="media/services_servers.png" alt="">
        <div class="service_card_info">
          <h2>redes y servidores</h2>
          <p>Análisis de redes y servidores externos los cuales sean accesibles desde la web, deteccion de servicios desactualizados, firewalls, routers o infraestructura de red con problemas. learn more...</p>
        </div>
        <br class="clear">
      </div>
    </div>
    <br class="clear">
  </div>
</div>

<style media="screen">
  .descripcion_servicio {
    background: #fafafa;
    min-height: 640px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
    display: block;
    margin-top: 150px;
  }

  .encuadre_modelo {
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
  }

  .descripcion_izquierda {
    width: 50%;
    float: left;
  }

  .service_card {
    background: #fff;
    max-width: 600px;
    margin: 30px;
    padding: 18px;
    display: flex;
    zoom: 0.9;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05);
  }

  .service_card img {
    max-width: 150px;
    max-height: 150px;
    flex: 1;
    margin: 0px 10px;
  }

  .service_card_info {
    float: left;
    flex: 1;
    padding: 0 20px;
  }

  .service_card_info h2 {
    margin: 20px 0px;
    line-height: 6px;
  }

  .service_card_info p {
    font-size: 14px;
    line-height: 22px;
  }

  .descripcion_derecha {
    width: 50%;
    float: left;
    border-right: 1px dashed #DDD;
    box-sizing: border-box;
  }

  .descripcion_derecha h1 {
    font-size: 52px;
    text-align: center;
    color: #000;
    padding: 0;
    padding: 30px 0 10px 0;
    margin: 0;
  }

  .descripcion_derecha h2 {
    display: block;
    margin: 0 auto;
    width: 540px;
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 4px;
    font-family: BigNoodleTitling;
    font-size: 26px;
    color: #999;
  }

  .descripcion_derecha p {
    width: 530px;
    text-align: left;
    font-size: 14px;
    margin: 20px auto;
    line-height: 22px;
  }

  .descripcion_derecha img {
    display: block;
    margin: 50px auto;
    max-width: 560px;
  }

  .clear {
    clear: both;
  }
</style>
