<section class="m-showreel">
  <div class="c-container">
    <div class="columns">
      <div class="wrap-text">
        <ul>
          <li class="seleccionado"><a href="">resources</a></li>
          <li><a href="">issues</a></li>
          <li><a href="">members</a></li>
          <br class="clear">
        </ul>
        <div class="c-title-text">
          <h4>1.1 lighting fast information survilliance.</h4>
          <p>Supervisión dinámica de infraestructuras por medio de una red de profesionales basta y distribuída! Descubra y solucione vulnerabilidades con una facilidad sin precedentes.</p>
        </div>
        <div class="c-title-text">
          <h4>1.2 dynamic, actionable & content-rich reports</h4>
          <p>Informes dinamicos listos para imprimir en todo momento! Los informes pueden incluir contenido multimedia, para una comprensión simple y eficaz de la vulnerabilidad.</p>
        </div>
      </div>
      <div class="wrap-image">
        <img src="media/aplicacion_demo_media.png" alt="">
      </div>
    </div>
  </div>
</section>
