<section class="m-showreel">
  <div class="c-container">

    <ul class="showreel-tabs">
      <li class="seleccionado">resources</li>
      <li>issues</li>
      <li>members</li>
    </ul>

    <div class="showreel-container">
      <div>
        <div class="columns">
          <div class="wrap-text">
            <div class="title">
              <img src="media/box-icon.png" alt="">
              <h3>Resources</h3>
              <h4>3 clicks to ad your asets & unveil security issues</h4>
            </div>

            <div class="c-title-text">
              <h4>1.1 lighting fast information survilliance</h4>
              <p>Supervisión dinámica de infraestructuras por medio de una red de profesionales basta y distribuída!</p>
            </div>

            <div class="c-title-text">
              <h4>1.2 dynamic, actionable & content-rich reports</h4>
              <p>Informes dinamicos listos para imprimir en todo momento!</p>
            </div>
          </div>

          <div class="wrap-image">
            <img src="media/aplicacion_demo_resources.png" alt="">
          </div>
        </div>
      </div>

      <div>
        <div class="columns">
          <div class="wrap-text">
            <div class="title">
              <img src="media/box-icon.png" alt="">
              <h3>Issues</h3>
              <h4>Enjoy a new perspective for your network assets</h4>
            </div>

            <div class="c-title-text">
              <h4>2.1 dynamic, actionable & content-rich reports</h4>
              <p>Supervisión dinámica de infraestructuras por medio de una red de profesionales basta y distribuída!</p>
            </div>

            <div class="c-title-text">
              <h4>2.2 lighting fast information survilliance</h4>
              <p>Informes dinamicos listos para imprimir en todo momento!</p>
            </div>
          </div>

          <div class="wrap-image">
            <img src="media/aplicacion_demo_media.png" alt="">
          </div>
        </div>
      </div>

      <div>
        <div class="columns">
          <div class="wrap-text">
            <div class="title">
              <img src="media/box-icon.png" alt="">
              <h3>Members</h3>
              <h4>Enjoy a new perspective for your network assets</h4>
            </div>

            <div class="c-title-text">
              <h4>2.1 dynamic, actionable & content-rich reports</h4>
              <p>Supervisión dinámica de infraestructuras por medio de una red de profesionales basta y distribuída!</p>
            </div>

            <div class="c-title-text">
              <h4>2.2 lighting fast information survilliance</h4>
              <p>Informes dinamicos listos para imprimir en todo momento!</p>
            </div>
          </div>

          <div class="wrap-image">
            <img src="media/aplicacion_demo_team.png" alt="">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
