<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Codefen">
        <link rel="icon" type="image/png" href="favicon.ico">
        <title>Codefen</title>
        <script src="static/jquery.js"></script>
        <script src="static/jquery-migrate.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body id="{{bodyId}}">

      {{#> page-block}} {{!-- pages --}} {{/page-block}}

      <!-- script includes -->
      <script type="text/javascript" src="js/main.js"></script>

   </body>
</html>
