{{#> library/main_wrap bodyId="page-purchase-plans"}}
  {{#*inline "page-block"}}

    <!-- include modules/nav_purchase.hbs -->
    {{> nav_purchase }}

    <div class="purchase_area">
      <div class="purchase_main">
        <div class="purchase_header">
          <div class="user_class">
            <ul>
              <li><a href="">for companies</a></li>
              <li><a href="">for hackers</a></li>
            </ul>
          </div>
        </div>
        <div class="purchase_middle">
          <div class="purchase_izquierda">
            <form action="purchase_cashier.html">
              <div class="purchase_form_group">
                <h3>4. select your plan</h3>
                <div class="plan_cards">
                  <div class="plan_column_info">
                    <h4>Basic survelliance service</h4>
                    <ul>
                      <li><a href="">Basic survelliance services</a></li>
                      <li><a href="">One pentests on demand per month</a></li>
                      <li><a href="">Space: one member</a></li>
                    </ul>
                  </div>
                  <div class="plan_column_price">
                    <a href="">$1,200</a>
                    <span>yearly billed</span>
                  </div>
                  <br class="clear">
                </div>
                <div class="plan_cards">
                  <div class="plan_column_info">
                    <h4>Advance survelliance service</h4>
                    <ul>
                      <li><a href="">Advance survelliance services</a></li>
                      <li><a href="">5 full checks on demand!</a></li>
                      <li><a href="">Space: for 10 company members</a></li>
                    </ul>
                  </div>
                  <div class="plan_column_price">
                    <a href="">$3,000</a>
                    <span>yearly billed</span>
                  </div>
                  <br class="clear">
                </div>
                <div class="plan_cards">
                  <div class="plan_column_info">
                    <h4>Dedicated survelliance</h4>
                    <ul>
                      <li><a href="">Full asset’s survelliance services.</a></li>
                      <li><a href="">Full service: all web accesible resources</a></li>
                      <li><a href="">We’ll be specially paranoid.</a></li>
                    </ul>
                  </div>
                  <div class="plan_column_price">
                    <a href="">$5,000</a>
                    <span>yearly billed</span>
                  </div>
                  <br class="clear">
                </div>
                <input class="user_call" type="submit" value="proceed to checkout">
              </div>
            </form>
          </div>
          <!-- include modules/purchase_promo_cards.hbs -->
          {{> purchase_scan_preview }}
          <br class="clear">
        </div>
      </div>
    </div>

    <style media="screen">
      .purchase_area {
        background: url('media/purchase_background.png') no-repeat;
        min-height: 780px;
        padding: 100px 0px;
      }

      .purchase_main {
        max-width: 1100px;
        margin: 50px auto;
        display: block;
        background: #fafafa;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05)
      }

      .purchase_header {
        border-bottom: 1px dashed #ccc;
      }

      .user_class {}

      .user_class ul {
        padding: 0;
        display: inline-flex;
        margin: 0;
        position: relative;
        top: -40px;
      }

      .user_class ul li {
        float: left;
        list-style: none;
        margin: 0 8px 0 0;
        background: #fafafa;
      }

      .user_class ul li.seleccionado {
        border-bottom: 7px solid #fff;
      }

      .user_class ul li a {
        color: #9a9a9a;
        font-size: 20px;
        padding: 12px;
        display: block;
        text-decoration: none;
        width: 100px;
        text-align: center;
        font-family: BigNoodleTitling;
      }

      .purchase_middle {}

      .purchase_izquierda {
        width: 40%;
        float: left;
        border-right: 1px dashed #ccc;
        box-sizing: border-box;
        height: 100%;
        background: #fff;
        min-width: 480px;
      }

      .purchase_form_group {}

      .purchase_form_group h3 {
        font-size: 25px;
        margin: 30px auto 0;
        display: block;
        width: 300px;
        padding: 0;
      }

      .plan_cards {
        padding: 10px 20px;
        border-top: 1px solid #ccc;
        display: flex;
      }

      .plan_column_info {
        float: left;
        min-width: 330px;
        flex: 1;
      }

      .plan_column_info h4 {
        font-family: Poppins;
        font-weight: 600;
        color: #333;
        text-decoration: none;
        font-size: 13px;
        margin: 0;
        padding: 0;
      }

      .plan_column_info ul {
        padding: 0px 30px;
        margin: 10px 0px;
      }

      .plan_column_info ul li {
        list-style-image: url('media/icon_check_02.png');
      }

      .plan_column_info ul li a {
        font-family: Poppins;
        font-weight: 400;
        color: #333;
        text-decoration: none;
        font-size: 13px;

      }

      .plan_column_price {
        flex: 1;
        float: left;
      }

      .plan_column_price a {
        font-size: 30px;
        font-family: BigNoodleTitling;
        color: #414141;
        text-decoration: none;
        display: block;
        text-align: center;
      }

      .plan_column_price a sup {
        font-size: 40px;
        color: #999;
        text-decoration: underline;
        position: relative;
        top: -8px;
        left: 4px;
      }

      .plan_column_price span {
        display: block;
        margin: 0 auto;
        width: 110px;
        text-align: center;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 1px;
        font-family: BigNoodleTitling;
        font-size: 23px;
        color: #999;
      }



      .user_call {
        background: #ff2424;
        color: #fff;
        border: 0;
        padding: 15px 20px;
        border-radius: 5px;
        font-family: Questrial;
        margin: 22px auto;
        display: block;
        padding: 15px 60px;
        font-size: 14px;
      }



      .clear {
        clear: both;
      }
    </style>


    {{> ending }}
    <!-- end stacking here -->

    {{/inline}}
    {{/library/main_wrap}}
