{{#> library/main_wrap bodyId="page-purchase-cashier"}}
  {{#*inline "page-block"}}

    <!-- include modules/nav_purchase.hbs -->
    {{> nav_purchase }}

    <div class="purchase_area">
      <div class="purchase_main">
        <div class="purchase_header">
          <div class="user_class">
            <ul>
              <li><a href="">for companies</a></li>
              <li><a href="">for hackers</a></li>
            </ul>
          </div>
        </div>
        <div class="purchase_middle">
          <div class="purchase_izquierda">
            <form action="purchase_finished.html">
              <div class="purchase_form_group">
                <h3>5. payment information</h3>
                <img class="cards_icons" src="media/purchase_cards.png" alt="">
                <input type="text" class="purchase_form_field">
                <input type="text" class="purchase_form_field">
                <input type="text" class="purchase_form_field">
              </div>
              <input class="user_call" type="submit" value="create a new user">
            </form>
          </div>
          <!-- include modules/purchase_promo_cards.hbs -->
          {{> purchase_promo_cards }}
          <br class="clear">
        </div>
      </div>
    </div>

    <style media="screen">
      .purchase_area {
        background: url('media/purchase_background.png') no-repeat;
        min-height: 780px;
        padding: 100px 0px;
      }

      .purchase_main {
        max-width: 1100px;
        margin: 50px auto;
        display: block;
        background: #fafafa;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, .05)
      }

      .purchase_header {
        border-bottom: 1px dashed #ccc;
      }

      .user_class {}

      .user_class ul {
        padding: 0;
        display: inline-flex;
        margin: 0;
        position: relative;
        top: -40px;
      }

      .user_class ul li {
        float: left;
        list-style: none;
        margin: 0 8px 0 0;
        background: #fafafa;
      }

      .user_class ul li.seleccionado {
        border-bottom: 7px solid #fff;
      }

      .user_class ul li a {
        color: #9a9a9a;
        font-size: 20px;
        padding: 12px;
        display: block;
        text-decoration: none;
        width: 100px;
        text-align: center;
        font-family: BigNoodleTitling;
      }

      .purchase_middle {}

      .purchase_izquierda {
        width: 40%;
        float: left;
        border-right: 1px dashed #ccc;
        box-sizing: border-box;
        height: 100%;
        background: #fff;
      }

      .user_call {
        background: #ff2424;
        color: #fff;
        border: 0;
        padding: 15px 20px;
        border-radius: 5px;
        font-family: Questrial;
        margin: 22px auto;
        display: block;
        padding: 15px 60px;
        font-size: 14px;
      }

      .purchase_form_group {}

      .purchase_form_group h3 {
        font-size: 25px;
        margin: 30px auto 0;
        display: block;
        width: 300px;
        padding: 0;
      }

      .purchase_form_field {
        display: block;
        margin: 10px auto;
        width: 280px;
        padding: 10px;
        border: 1px solid #ddd;
      }

      .clear {
        clear: both;
      }
    </style>



    {{> ending }}
    <!-- end stacking here -->

    {{/inline}}
    {{/library/main_wrap}}
