.f-bounce { animation: bounce 2s infinite ease; }

@keyframes bounce {
  0%, 20%, 50%, 80%,
  100% { transform: translateY(0); }
  40% { transform: translateY(-25px); }
  60% { transform: translateY(-10px); }
}

.fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  0%   { display: block; opacity: 0;  }
  30%  { display: block; opacity: .5; }
  60%  { display: block; opacity: .8; }
  100% { display: block; opacity: 1;  }
}
