/* Button */
.c-pulser {
  width: 100%;
  display: flex;
  padding: 0px 25px;
  box-sizing: border-box;
  justify-content: center;
  min-height: 50px;
  align-items: center;
  border-radius: 8px;
  min-width: 190px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .2s ease;
  text-decoration: none;

  &.f-red {
    background-color: $color-one;
    color: #ffffff;

    &:hover {
      background-color: #222;
      color: #ffffff;
    }
  }

  &.f-white {
    background-color: #ffffff;
    color: $color-one;
    
    &:hover {
      background-color: #222;
      color: #ffffff;
    }
  }

  &.f-dark {
    background-color: #222;
    color: #ffffff;

    &:hover {
      background-color: $color-one;
    }

  }

  &:focus {
    text-decoration: none !important;
  }

  // start responsive
  @include mq($from: tablet) {
  }
}
