/* Step box */
.c-step-box {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  // max-width: 382px;
  height: 110px;
  border-left: 1px solid rgba(255,255,255,0.1);
  border-right: 1px solid rgba(255,255,255,0.1);

  .wrap-big {
    width: 30px;

    span {
      font-size: 56px;
      line-height: 1;
      font-family: 'BigNoodleTitling';
      color: #fffefe;
    }
  }

  .wrap-text {
    h3 {
      font-size: 24px;
      color: #fffefe;
      text-transform: uppercase;
      margin-bottom: 0px;
    }

    p {
      font-size: 14px;
      color: #adadad;
    }
  }
}

.c-step-box + .c-step-box {
  border-left: none;
}

.c-step-box {
  font-size: 14px;
  line-height: 18px;
  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    font-size: 16px;
    line-height: 16px;
  }
  @include mq($from: desktop) {
    font-size: 16px;
    line-height: 16px;
  }
}
