/* nav area */
.c-nav {
  height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: #ffffff;
  z-index: 100;
  transition: .5s height;
  background-color: rgba(0,0,0,0.8);
  transform: translateY(-100%);
  overflow-y: hidden;
  font-family: Questrial;

  .c-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  a {
    @extend %header-text;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    transition: .5s all;
  }

  a:hover,
  a:focus {
    text-decoration: none;
  }

  .links {
    display: flex;
    flex-direction: column;
    background-color: none;

  }

  // start responsive
  @include mq($from: tablet) {
    .c-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .links {
      flex-direction: row;
      transform: translateY(0%);
    }

    .links:last-of-type {
      justify-content: flex-end;
    }

    a {
      padding: 0px 20px;
      transform: translateY(0);
    }

    a:hover {
      background-color: rgba(0,0,0,0.2);
    }

    a.f-active {
      border-bottom: 7px solid $color-one;
    }
  }

  @include mq($from: desktop) {
  }

  @include mq($from: desktopExtraLarge) {
  }
}
