section.m-header {
  background-color: #ef3735;
  background-image: url('../media/header_background.png');
  background-position: center;
  color: #ffffff;
  overflow: hidden;
  z-index: 5;

  .c-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    transform: translateX(-20%);
    opacity: 0;
  }

  h2 {
    margin-top: 0px;
    margin-bottom: 5vh;
    transform: translateX(-20%);
    opacity: 0;
  }

  ul.c-list {
    transform: translateX(-20%);
    opacity: 0;
  }

  .c-pulser {
    margin-right: 4vw;
    max-width: 310px;
    transform: translateX(-20%);
    opacity: 0;

    span {
      margin-left: 15px;
      margin-right: -33px;
      font-size: 18px;
    }
  }

  // start responsive
  @include mq($from: tablet) {
    min-height: 550px;
    max-height: 730px;
    height: 80vh;
    padding: 0px;
    padding-top: 50px;
    display: flex;
    align-items: center;

    .c-container {
      flex-direction: row;
      flex: 1;
      align-items: flex-start;
      justify-content: space-between;
    }

    .wrap-text {
      width: 49%;
      height: 100%;
    }

    h1 {
      line-height: 1;
      margin-top: 0px;
      margin-bottom: 10px;
    }

    .wrap-image {
      width: 50%;
      height: 100%;

      img {
        opacity: 0;
        transform: translateX(50vw) rotate(15deg);
        box-shadow: -20px 20px 0 0 rgba(0, 0, 0, 0.1);
      }
    }

    ul.c-list {
      margin-left: 8vw;
      margin-bottom: 60px;
    }

    .c-pulser {
      margin-left: 8vw;
    }
  }

  @include mq($from: desktopExtraLarge) {

  }
}
