/* footer */
section.m-footer {
  background-color: #000;
  background-image: url('/media/enclosure_background.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-top: 120px;
  padding-bottom: 200px;
  color: #fff;
  border-top: 10px solid #fff;
  // z-index: 5;

  .columns {
    display: flex;
    justify-content: space-between;
    max-width: 1010px;
    margin: 0 auto;
  }

  .columns > div {

    h6 {
      font-size: 22px;
      font-weight: 100;
      color: #fff;
      margin-bottom: 10px;
    }

    ul {
      color: #fff;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        line-height: 26px;

        a {
          color: #a5a5a5;
          font-size: 14px;
          text-decoration: none;

          &:hover {
            color: #ff3939;
            text-decoration: underline;
          }        
        }      
      }
    }
  }


  //middle size devices (as an ipad)
  @include mq($from: tablet, $until: desktop) {
    .columns {
      display: flex;
      justify-content: space-between;
      max-width: 880px;
      margin: 0 auto;
    }    
  }

  //
  @include mq($from: desktopExtraLarge) {}

}
