/* Texts styles */

@font-face {
  font-family: 'BigNoodleTooOblique';
  src: url('/static/fonts/BigNoodleTooOblique.eot');
  src: url('/static/fonts/BigNoodleTooOblique.eot?#iefix') format('embedded-opentype'),
       url('/static/fonts/BigNoodleTooOblique.woff2') format('woff2'),
       url('/static/fonts/BigNoodleTooOblique.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'BigNoodleTitling';
    src: url('/static/fonts/BigNoodleTitling.eot');
    src: url('/static/fonts/BigNoodleTitling.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/BigNoodleTitling.woff2') format('woff2'),
         url('/static/fonts/BigNoodleTitling.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  // font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  line-height: 1.75;
  color: #555555;
  // responsive
  @include mq($from: tabletLandscape, $until: desktopExtraLarge) {
    font-size: 15px;
    line-height: 1.42;
  }
  @include mq($from: desktopExtraLarge) {
    font-size: 16px;
    line-height: 1.42;
  }
}


strong { font-weight: 600; }


p {
  margin: 0px;
  line-height: 1.7;
}

h1,h2,h3,h4,h5,h6,p,ul {
  margin: 0px;
}

h1,h2,h3,h4 {
  font-family: 'BigNoodleTitling';
  font-weight: 100;
}

h1 {
  font-size: 38px;
  line-height: 1.15;

  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    font-size: 56px;
    line-height: 1.25;
  }

  @include mq($from: desktop) {
    font-size: 90px;
    line-height: 1.25;
  }
}


h2 {
  font-size: 25px;
  line-height: 1.15384615;
  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    font-size: 26px;
    line-height: 1.25;
  }
  @include mq($from: desktop) {
    font-size: 30px;
    line-height: 1.25;
  }
}


h3 {
  font-size: 28px;
  line-height: 1.25;
  margin: 0px;
  margin-bottom: 15px;
  // & + p {
  //   font-size: 20px;
  //   text-transform: capitalize;
  //   color: #c9c7ca;
  //   padding: 5px 0px;
  //   border-top: 1px solid #555555;
  //   border-bottom: 1px solid #555555;
  // }
  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    font-size: 43px;
    line-height: 1.25;
    margin-bottom: 25px;
    // & + p {
    //   font-size: 28px;
    //   padding: 10px 0px;
    // }
  }
  @include mq($from: desktop) {
    font-size: 56px;
    line-height: 1.25;
    margin-bottom: 22px;
    // & + p {
    //   font-size: 36px;
    //   padding: 11px 0px;
    // }
  }
}

.c-subtitle {
  font-family: 'BigNoodleTitling';
  font-weight: 100;
  width: fit-content;
  padding: 5px 0px;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  p {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #c9c7ca;
  }
  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    p {
      font-size: 28px;
      padding: 10px 0px;
    }
  }
  @include mq($from: desktop) {
    p {
      font-size: 36px;
      padding: 11px 0px;
    }
  }
}


h4 {
  font-size: 24px;
  line-height: 1.11111111;
  margin: 0px;
  margin-bottom: 10px;
  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    font-size: 26px;
    line-height: 1.25;
  }
  @include mq($from: desktop) {
    font-size: 28px;
    line-height: 1.25;
  }
}


/* Extend styles */

%header-text {
  font-size: 14px;
  line-height: 18px;
  // responsive
  @include mq($from: tabletLandscape, $until: desktop) {
    font-size: 16px;
    line-height: 16px;
  }
  @include mq($from: desktop) {
    font-size: 16px;
    line-height: 16px;
  }
}


%scroll-down-text {
  font-size: 14px;
  line-height: 21px;
  // responsive
  @include mq($from: tablet, $until: desktopExtraLarge) {
    font-size: 16px;
    line-height: 20px;
  }
  @include mq($from: desktopExtraLarge) {
    font-size: 20px;
    line-height: 20px;
  }
}


%cta-text {
  font-size: 26px;
  line-height: 34px;
  // responsive
  @include mq($from: tablet, $until: desktopExtraLarge) {
    font-size: 32px;
    line-height: 40px;
  }
  @include mq($from: desktopExtraLarge) {
    font-size: 36px;
    line-height: 44px;
  }
}
