// Breakpoints

$width-xs: 375px;
$width-sm: 768px;
$width-md: 1024px;
$width-lg: 1366px;
$width-xl: 1440px;
$width-xxl: 1920px;

$mq-breakpoints: (
  // friendly names
  mobile: $width-xs,
  tablet: $width-sm,
  tabletLandscape: $width-md,
  desktop: $width-lg,
  desktopLarge: $width-xl,
  desktopExtraLarge: $width-xxl,
  // short names
  xs: $width-xs,
  sm: $width-sm,
  md: $width-md,
  lg: $width-lg,
  xl: $width-xl,
  xxl: $width-xxl
);

@import '../../node_modules/sass-mq/mq';
