/* Settings */
@import "settings.breakpoints";
@import "settings.colors";
@import "settings.icons";
@import "settings.texts";
@import "settings.sections";


/* Modules */
@import "module.nav_main";
@import "module.intro";
@import "module.easy_steps";
@import "module.company_vs";
@import "module.showreel";
@import "module.footer";


/* Components */
@import "components";
@import "components.titles";
@import "components.ctas";
@import "components.step-box";
@import "animations";


/* Override */
@import "override";


/* Main styles */
*:focus {
  outline: 0px !important;
}

body {
  padding: 0;
  margin: 0;
  // overflow-x: hidden;
  background: #f3f3f3;
  // > div:last-child {
  //   position: absolute;
  //   top: 0;
  // }
}

section {
	position: relative;
	.c-container {
		z-index: 5;
	}
}
