/* Settings */
@import "settings.breakpoints";
@import "settings.colors";
@import "settings.icons";
@import "settings.texts";
@import "settings.sections";


/* Modules */
@import "module.nav_main";
@import "module.header";
@import "module.easy_steps";
@import "module.company_vs";
@import "module.showreel";
@import "module.plans";
@import "module.footer";


/* Components */
@import "components";
@import "components.titles";
@import "components.ctas";
@import "components.step-box";
@import "animations";


/* Library */
@import "library/tiny-slider";

/* Override */
@import "override";


/* Main styles */
*:focus {
  outline: 0px !important;
}

body {
  padding: 0;
  margin: 0;
  background: #f3f3f3;
}

section {
	position: relative;
	.c-container {
		z-index: 5;
	}
}
